@use "../abstracts/variables" as v;

@mixin button($bg-color, $text-color) {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  @include border-radius;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: v.$transition;
  display: inline-block;
  background-color: $bg-color;
  color: $text-color;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

@mixin border-radius {
  -webkit-border-radius: v.$border-radius;
  -moz-border-radius: v.$border-radius;
  -ms-border-radius: v.$border-radius;
  border-radius: v.$border-radius;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
