$color-primary: #ff901b;

$color-text-dark: #333;
$color-text-light: #f0f0f0;

$color-bg-light: #f0f0f0;
$color-bg-light-grey: #dbdbdb;
$color-bg-grey: #666;
$color-bg-dark-grey: #444;
$color-bg-dark: #333;

$img-bg-light-stripes: url("../../assets/images/stripes-bg.svg");
$img-bg-dark-stripes: url("../../assets/images/darkstripes-bg.svg");

$transition: font-size 0.2s ease-in-out;
$border-radius: 1rem;
