@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.contact {
  padding: 8rem 5rem;
  margin: auto;
  background-size: cover;

  &__header {
    @include m.flex-column;
    align-items: center;
    margin-bottom: 8rem;

    &-hr {
      margin: 2rem 0;
      width: 5rem;
      border: 3px solid v.$color-primary;
      @include m.border-radius;
      transition: v.$transition;
    }
  }
}

/* CONTACT RESPONSIVE DESIGN */

@media (max-width: 800px) {
  .contact__header {
    margin-bottom: 1rem;
  }
  .contact__form-container {
    padding: 3rem;
  }
}
