@use "../abstracts/mixins" as m;

.hero {
  height: calc(100vh - 80px);
  @include m.flex-column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 0 2rem;

  &__title {
    @include m.flex-column;
    align-items: center;
    gap: 4rem;
  }
}
