@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.projects {
  padding: 8rem 5rem;
  margin: auto;
  @include m.flex-column;
  justify-content: center;
  align-items: center;
}

.projects__header {
  @include m.flex-column;
  align-items: center;
  margin-bottom: 8rem;

  &-hr {
    margin: 2rem 0;
    width: 5rem;
    border: 3px solid v.$color-primary;
    @include m.border-radius;
    transition: v.$transition;
  }
}

.projects__content {
  max-width: 100rem;
  @include m.flex-column;
  align-items: start;
  justify-content: center;
  gap: 12rem;
}

.projects__content-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 4rem;
  align-items: center;
  overflow: hidden;

  &-img {
    max-width: 100%;
    max-height: 100%;
    transition: v.$transition;
  }

  &-text {
    @include m.flex-column;
    justify-content: center;
    align-items: start;
  }

  &-text-title {
    margin-bottom: 1.5rem;
    transition: v.$transition;
  }

  &-text-subtitle {
    margin-bottom: 1.5rem;
    transition: v.$transition;
  }
}

/* PROJECTS RESPONSIVE DESIGN */

@media (max-width: 1050px) {
  .projects__content-row {
    @include m.flex-column;
    align-items: start;
  }
  .projects__content-row-text {
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .projects__header {
    margin-bottom: 3rem;
  }
}
